# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
backend/layer_build/
backend/pkg_*/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build Artifacts
backend/*.zip
frontend/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Local scripts / logs
*.log
